a{
    font-size: 1.2rem;
    margin: 10px;
    text-decoration :none;
}
nav{
    text-align: center;
}

 i{

     display: block;
     font-size: 1.7rem;
     font-weight: lighter;
     margin-bottom: 20px;
 }


body {
 font-size: 1rem;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
background-color: ghostwhite;
}

h1{
    font-size: 2rem;
    text-decoration: underline;
    margin-bottom: 2px;
}

#about {
    
    text-align: center;
   width: 50%;
   margin-left: 25%;
    margin-top: -300px;
   position: relative;
}

#image  {
    
   height: 15vh ;
   width : 15vw ;
  margin-bottom: 350px;
}

#image img{
    
    margin-left: 180px;
    height: 55vh;
    width: 25vw;
    border-radius: 70%; 
    border: white solid 3px;
  
    
}
#background img {
    margin-top: 20px;
   height: 50vh;
    width: 100%;
    border-radius: 0%;
}


#education{
    margin-left: 25%;
    text-align: left;
    margin-top: 170px;
}
#skills{
    text-align: left;
    margin-top: 120px;
    margin-left: 25%;
}
#projects{
    text-align: left;
    margin-top: 120px;
    margin-left: 25%;
}






span{
    display: block;
    font-weight: 800;
    font-size: 2.5rem;
    text-align: center;

}
footer {
    background: linear-gradient( to top right , rgb(18 49 39),rgb(31 19 221),rgb(142 20 105 / 76%) );

    text-align: left;
    margin-top: 200px;
    background: linear-gradient( to bottom , rgb(18 56 167),rgb(36 33 198),rgb(46, 10, 35)  );
    height: 408px;
    
}


#leave-message{
    display: inline-block;
    margin-left: 10%;
    width: 40%;
    margin-top: -217px;
}


h2{

    font-weight: 700;
}



button[type="submit"] {

    font-size: 1.2rem;
    background-color: black;
    color: white;
    padding: 10px;
    margin-top: 10px;
   margin-left: 25px;
  }

  
  #info{

       display: inline-block;
       margin-left: 78%;
       width: 20%;
    margin-top: 93px;
  }



  #info i{
      position: relative;
      font-size: 1.7rem;;
      font-weight: 700;
  }
  b{
      font-size: 1.3rem;
  }
  #info a{
      font-weight: bold;
      color: black;
  }
  